@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  color: white;
  height: 100vh;
  width: 420px * $pixelRatio;
  overflow-y: auto;
  transition: width 0.3s;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
